html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: calc(100% - 20px); */
    height: 100dvh;

    background-color: rgb(193, 218, 241);

    & .container {
        display: flex;
        /* justify-content: center; */
        /* align-items: flex-start; */
        flex-direction: column;

        padding: 10px 10px;

        text-align: center;
        width: 250px;
        height: 400px;

        border: 1px solid #000;
        border-radius: 20px;
        background-color: #fff;

        & img {
            margin-bottom: 10px;
            top: 5px;
            width: 100%;
            border-radius: 20px;

        }

        & h1 {
            font-size: 1rem;
            text-decoration: underline;
        }

        & p {
            padding: 0;
            margin: 5px;
        }
    }

}